<form class="example-form" [formGroup]="regForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter your username" formControlName="email" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="Enter your password" formControlName="password" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="Enter your password" formControlName="password_confirmation" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter your name" formControlName="name" />
  </mat-form-field>
  <button mat-raised-button color="warn">Click me!</button>
</form>

asdasdasd
