<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="footer" *ngIf="contact">
            <h3 class="footer-title">About Us</h3>
            <p>
              Shop new phones online at Best Buy for the latest iPhones, Android smartphones, accessories and plans.
            </p>
            <ul class="footer-links">
              <li>
                <a><i class="fa fa-map-marker"></i>{{ contact.location }}</a>
              </li>
              <li>
                <a><i class="fa fa-phone"></i>{{ contact.phone }}</a>
              </li>
              <li>
                <a href="mailto: {{ contact.email }}"><i class="fa fa-envelope-o"></i>{{ contact.email }}</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="footer">
            <h3 class="footer-title">Pages</h3>
            <ul class="footer-links">
              <li><a routerLink="/home">Index page</a></li>
              <li><a routerLink="/smartphones">All smartphones</a></li>
              <li><a routerLink="/tv">Television</a></li>
              <li><a routerLink="/author">Site creator</a></li>
              <li><a routerLink="/contact">Contact us</a></li>
              <li><a routerLink="/cart">Your cart</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <!-- <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Information</h3>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Orders and Returns</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
          </div>
        </div> -->

        <!-- <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Service</h3>
            <ul class="footer-links">
              <li><a href="#">My Account</a></li>
              <li><a href="#">View Cart</a></li>
              <li><a href="#">Wishlist</a></li>
              <li><a href="#">Track My Order</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
        </div> -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div id="bottom-footer" class="section">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="footer-payments">
            <li>
              <a href="#"><i class="fa fa-cc-visa"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-credit-card"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cc-paypal"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cc-mastercard"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cc-discover"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cc-amex"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
