<div class="row" *ngIf="item">
  <!-- Product main img -->
  <div class="col-md-5 col-md-push-2">
    <div id="product-main-img">
      <div class="product-preview">
        <ng-container *ngIf="item?.image_path">
          <img [src]="item.image_path" alt="" />
        </ng-container>
      </div>

      <!-- <div class="product-preview">
                <img src="../../../../../assets/images/theme/product03.png" alt="">
            </div>

            <div class="product-preview">
                <img src="../../../../../assets/images/theme/product06.png" alt="">
            </div>

            <div class="product-preview">
                <img src="../../../../../assets/images/theme/product08.png" alt="">
            </div> -->
    </div>
  </div>
  <!-- /Product main img -->

  <!-- Product thumb imgs -->
  <!-- <div class="col-md-2  col-md-pull-5">
        <div id="product-imgs">
            <div class="product-preview">
                <img src="../../../../../assets/images/theme/product01.png" alt="">
            </div>

            <div class="product-preview">
                <img src="../../../../../assets/images/theme/product03.png" alt="">
            </div>

            <div class="product-preview">
                <img src="../../../../../assets/images/theme/product06.png" alt="">
            </div>

            <div class="product-preview">
                <img src="../../../../../assets/images/theme/product08.png" alt="">
            </div>
        </div>
    </div> -->
  <!-- /Product thumb imgs -->

  <!-- Product details -->
  <div class="col-md-7">
    <div class="product-details">
      <h2 class="product-name">{{ item.name }}</h2>
      <!-- <div>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <a class="review-link" href="#">10 Review(s) | Add your review</a>
            </div> -->
      <div>
        <h3 class="product-price">{{ item.price | currency }}</h3>
        <span class="product-available">In Stock</span>
      </div>
      <p>{{ item.description_short }}</p>

      <!-- <div class="product-options">
                <label>
                    Size
                    <select class="input-select">
                        <option value="0">X</option>
                    </select>
                </label>
                <label>
                    Color
                    <select class="input-select">
                        <option value="0">Red</option>
                    </select>
                </label>
            </div> -->

      <div class="add-to-cart">
        <div class="qty-label">
          Qty
          <div class="input-number">
            <input type="number" [formControl]="quantityControl" />
            <span class="qty-up" (click)="changeQuantity('+')">+</span>
            <button class="qty-down" (click)="changeQuantity('-')" [disabled]="quantityControl.value < 1">-</button>
          </div>
        </div>
        <button class="add-to-cart-btn" [disabled]="!loggedIn || !quantityControl.valid" (click)="addToCart()">
          <i class="fa fa-shopping-cart"></i> add to cart
        </button>
      </div>

      <ul class="product-btns">
        <li class="test">
          <a class="" (click)="insertWishlist(item.id)"><i class="fa fa-heart-o"></i> add to wishlist</a>
        </li>
        <!-- <li>
          <a href="#"><i class="fa fa-exchange"></i> add to compare</a>
        </li> -->
      </ul>
    </div>
  </div>
  <!-- /Product details -->

  <!-- Product tab -->

  <!-- /product tab -->

  <div class="col-md-12">
    <div id="product-tab">
      <!-- product tab nav -->
      <ul class="tab-nav">
        <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
      </ul>
    </div>
    <div class="text-center my-4">
      {{ item.description }}
    </div>
  </div>
</div>
