input.ng-invalid.ng-touched {
  border: 1px solid red;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #000;
  cursor: pointer;
}
a:not([href]):not([tabindex]) {
  color: #000;
}
