<div class="row">
  <div class="col-md-12  mb-3">
    <h3 class="text-center text-uppercase" id="myModalLabel">my profile</h3>
  </div>
  <div class="col-md-12">
    <div class="text-center">
      <img src="../../../../../assets/img/jaa.jpg" name="aboutme" width="200" height="200" class="rounded-circle" />
      <h3 class="media-heading my-3">Marko Ćatić, <small>Serbia</small></h3>
      <span><strong>Skills: </strong></span>
      <span class="badge badge-primary">HTML5/CSS/JS</span>
      <span class="badge badge-danger">Angular</span>
      <span class="badge badge-secondary">Laravel</span>
      <span class="badge badge-warning">Spring</span>
    </div>
    <hr />
    <div>
      <p class="text-left">
        <strong>Bio: </strong><br />
        I am currently studying ICT College of Applied Studies, final year. I hope that one day I become a successful
        programmer, by then I'll do my best to learn.
      </p>
      <br />
    </div>
  </div>
</div>
