<div class="brand">
  <h3 class="category-label">Brand:</h3>
  <div fxLayout="column">
    <mat-checkbox>Samsung</mat-checkbox>
    <mat-checkbox>Apple</mat-checkbox>
    <mat-checkbox>Huawei</mat-checkbox>
    <mat-checkbox>Xiaomi</mat-checkbox>
    <mat-checkbox>Nokia</mat-checkbox>
  </div>
</div>
<div class="price">
  <h3 class="category-label">Price:</h3>
  <mat-radio-group fxLayout="column" fxLayoutGap="5px">
    <mat-radio-button value="1"> Less than 10.000 </mat-radio-button>
    <mat-radio-button value="2"> More than 10.000</mat-radio-button>
    <mat-radio-button value="3"> More than 50.000</mat-radio-button>
    <mat-radio-button value="4"> More than 100.000 </mat-radio-button>
  </mat-radio-group>
</div>
<div class="order">
  <h3 class="category-label">Order:</h3>
  <mat-radio-group fxLayout="column" fxLayoutGap="5px">
    <mat-radio-button value="1"> Ascending </mat-radio-button>
    <mat-radio-button value="2"> Descending </mat-radio-button>
  </mat-radio-group>
</div>
